/* start variables */
:root {
  --main-text-color: #fff;
  --alt-text-color: #ffc200;
  --sec-back-color: #303030;
  --main-trans-du: 0.3s;
  --sec-paddding: 100px;
  --title-font-fam: "Grand Hotel", cursive;
}
/* end variables */
/* strat gobal rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.scrollup {
  font-size: 2.5rem;
  position: fixed;
  bottom: 15px;
  right: -50px;
  z-index: 10;
  color: #f44336;
  cursor: pointer;
  transition: var(--main-trans-du);
}
.scrollup.show {
  right: 15px;
}
.scrollup:hover {
  transform: scale(1.2);
  bottom: 20px;
}
.closemenu {
  font-size: 2.5rem;
  color: var(--alt-text-color);
  position: absolute;
  top: 25px;
  right: 27px;
  transition: var(--main-trans-du);
  cursor: pointer;
}
.closemenu:hover {
  transform: scale(1.1);
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* Start Header */
header {
  height: 88px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 4;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoimg img {
  width: 120px;
  height: 74.4px;
  margin-top: 10px;
}
header .navlinks {
  display: flex;
}
@media (max-width: 991px) {
  header .navlinks {
    display: none;
  }
}
header .navlinks li {
  margin-left: 50px;
  transition: var(--main-trans-du);
}
header .navlinks li a {
  color: var(--main-text-color);
  font-size: 20px;
  transition: var(--main-trans-du);
}
header .navlinks li:hover {
  transform: scale(1.1);
}
header .navlinks li:hover a,
header .navlinks li a.active {
  color: var(--alt-text-color);
}
header .serch i {
  color: var(--main-text-color);
  font-size: 20px;
  transition: var(--main-trans-du);
  cursor: pointer;
}
@media (max-width: 991px) {
  header .serch i {
    display: none;
  }
}
header .serch:hover i,
header .serch i.active {
  color: var(--alt-text-color);
  transform: scale(1.2) rotate(360deg);
}
.menuicon {
  font-size: 30px;
  color: var(--main-text-color);
  display: none !important;
  cursor: pointer;
  transition: var(--main-trans-du);
}
.menuicon:hover,
.menuicon.active {
  color: var(--alt-text-color);
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .menuicon {
    display: block !important;
  }
}
header .dropmenu {
  width: 75%;
  margin: 0 auto;
  background-color: #303030c2;
  border-radius: 12px;
  transition: var(--main-trans-du);
  margin-top: -425px;
  opacity: 0;
  display: none;
}
@media (max-width: 991px) {
  .dropmenu {
    display: block !important;
  }
}
header .dropmenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .dropmenu ul li {
  margin: 10px 0 0;
  width: 75%;
  text-align: center;
  padding: 15px 10px;
  transition: var(--main-trans-du);
}
header .dropmenu ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header .dropmenu ul li a {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: var(--main-trans-du);
}
header .dropmenu ul li:hover {
  padding-left: 30px;
  transform: scale(1.1);
}
header .dropmenu ul li:hover a,
header .dropmenu ul li a.active {
  color: var(--alt-text-color);
}
/* End Header */
/* Start Landing */
.landing {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
  background-image: url(../imgs/header-cover.avif);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .container {
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .landing .container {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #92505fbe;
    padding: 55px 45px;
    margin-top: 40px;
    border-radius: 0;
  }
}
@media (min-width: 578px) and (max-width: 991px) {
  .landing .container {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #92505fbe;
    width: fit-content;
    padding: 55px 45px;
    margin-top: 40px;
    border-radius: 12px;
  }
}
.landing .container .title {
  color: var(--alt-text-color);
  font-family: var(--title-font-fam);
  font-size: 70px;
  letter-spacing: 15px;
  margin-top: 95px;
  margin-left: 300px;
}
@media (max-width: 991px) {
  .landing .container .title {
    margin-left: 0;
    margin-top: 0;
  }
}
.landing .container p {
  color: var(--main-text-color);
  font-weight: bold;
  line-height: 2;
  font-size: 18px;
  margin-left: 340px;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .landing .container p {
    margin-left: 0;
  }
}
.landing .container .order {
  display: block;
  background-color: var(--alt-text-color);
  width: fit-content;
  margin: 20px auto;
  padding: 10px 12px;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: var(--main-trans-du);
}
.landing .container .order:hover {
  background-color: var(--main-text-color);
}
/* Menue */
.landing .menu {
  background-color: var(--alt-text-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 100%;
  min-height: 100vh;
  top: -210px;
  border-radius: 15px;
  border: 3px solid var(--alt-text-color);
  transition: 0.5s;
  opacity: 0;
  z-index: -10;
  padding: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing .menu {
    top: -130px;
    width: 150%;
  }
}
.landing .menu .topmenu {
  background-image: url(../imgs/sec-bg-dwon.webp);
  background-size: 100% 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.landing .menu .topmenu h2 {
  font-size: 4rem;
  font-family: var(--title-font-fam);
  font-weight: normal;
  color: var(--alt-text-color);
  margin-top: -45px;
}
.landing .menu .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .landing .menu {
    width: 120%;
    overflow: auto;
    height: 100px;
    top: -130px;
  }
  .landing .menu .items {
    flex-direction: column;
  }
}
.landing .menu .items .secitem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  flex-direction: column;
  text-align: left;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .landing .menu .items .secitem {
    width: 100%;
  }
}
.landing .menu .items .secitem .item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.landing .menu .items .secitem .item h3 {
  margin: 0 0 15px;
  font-size: 2.5rem;
  font-family: var(--title-font-fam);
  font-weight: normal;
}
.landing .menu .items .secitem .item h4 {
  font-size: 18px;
  position: relative;
}
.landing .menu .items .secitem .item h4::before {
  content: "";
  position: absolute;
  top: 5px;
  margin: 0px -15px 0;
  width: 10px;
  height: 10px;
  background-color: var(--sec-back-color);
  border-radius: 50%;
}
.landing .menu .items .secitem .item p {
  margin: 0;
  color: #191818;
  font-size: 18px;
  font-family: var;
  padding: 5px 7px;
  font-weight: normal;
  position: relative;
}
.landing .menu .items .secitem .item p::after {
  content: "10$";
  color: #191818;
  font-size: 18px;
  font-family: var;
  font-weight: bold;
  position: absolute;
  top: 0px;
  margin-left: 15px;
}
.menufoot {
  background-image: url(../imgs/sec-bg-up.webp);
  background-size: 100% 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  border-radius: 15px;
}
.menufoot > div > i {
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: var(--main-trans-du);
  color: var(--main-text-color);
}
.menufoot > div > i:hover {
  color: var(--alt-text-color);
}
.menufoot > p {
  margin: 0 !important;
  font-family: var(--title-font-fam);
  font-weight: normal;
  font-size: 25px !important;
}
/* Menue */
/* End Landing */
/* Start best seller */
.bestseller {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
}
.bestseller .container .text {
  text-align: center;
}
.bestseller .container .text h2 {
  font-size: 6rem;
  font-family: var(--title-font-fam);
  font-weight: normal;
}
.bestseller .container .text p {
  font-size: 1.3rem;
  line-height: 2;
  color: #777;
  margin: 10px 0 20px;
}
.bestseller .container .products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 30px;
}
.bestseller .container .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 767px) {
  .bestseller .container .products {
    flex-direction: column;
  }
}
.bestseller .container .product img {
  max-width: 100%;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.bestseller .container .product h3 {
  margin-top: 20px;
  font-size: 3.2rem;
  font-family: var(--title-font-fam);
  font-weight: normal;
  color: #333;
}
.bestseller .container .product p {
  line-height: 1.5;
  color: #555;
}
/* End best seller */
/* Start up rec */
.uprc {
  background-image: url(../imgs/sec-bg-up.webp);
  background-size: cover;
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
}
.uprc .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
@media (max-width: 767px) {
  .uprc .container {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
}
.uprc .container .img img {
  width: 350px;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .uprc .container .img img {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .uprc .container .img img {
    width: 200px;
    margin-top: 185px;
  }
}
.uprc .container .info h2 {
  color: var(--alt-text-color);
  font-family: var(--title-font-fam);
  font-weight: normal;
  font-size: 6rem;
}
@media (min-width: 768px) and (max-width: 992px) {
  .uprc .container .info h2 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .uprc .container .info h2 {
    font-size: 3rem;
    margin-top: 15px;
  }
}
.uprc .container .info p {
  color: var(--main-text-color);
  line-height: 1.5;
  font-size: 18px;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .uprc .container .info p {
    margin-top: 10px;
  }
}
.uprc .container .info a {
  color: black;
  background-color: var(--alt-text-color);
  padding: 10px 12px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-trans-du);
}
.uprc .container .info a:hover {
  background-color: white;
}
@media (max-width: 768px) {
  .uprc .container .info a {
    margin: 15px auto;
  }
}
/* End up rec */
/* Start statics */
.statics {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
  background-image: url(../imgs/sec-bg.webp);
  background-size: cover;
  background-color: var(--sec-back-color);
}
@media (max-width: 767px) {
  .statics {
    background-image: none;
  }
}
.statics .text {
  text-align: center;
}
.statics .text h2 {
  color: var(--alt-text-color);
  font-family: var(--title-font-fam);
  font-weight: normal;
  font-size: 6rem;
}
.statics .text p {
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 2;
}
.statics .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
  flex-wrap: wrap;
}
.statics .content .stat {
  border: 5px solid var(--main-text-color);
  padding: 20px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statics .content .stat h3 {
  color: var(--alt-text-color);
  font-size: 3rem;
}
.statics .content .stat p {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
/* End statics */
/* Start rc down */
.rcdown {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
  background-image: url(../imgs/sec-bg-dwon.webp);
  background-size: cover;
}
.rcdown .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .rcdown .container {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .rcdown .container {
    flex-direction: column-reverse;
    gap: 0;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .rcdown .info {
    margin-left: 40px;
    margin-bottom: 70px;
  }
}
.rcdown .info h2 {
  color: var(--alt-text-color);
  font-family: var(--title-font-fam);
  font-weight: normal;
  font-size: 6rem;
}
@media (min-width: 768px) and (max-width: 992px) {
  .rcdown .container .info h2 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .rcdown .container .info h2 {
    font-size: 3rem;
    margin-top: 15px;
  }
}
.rcdown .info p {
  color: var(--main-text-color);
  line-height: 1.5;
  font-size: 18px;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .rcdown .container .info p {
    margin-top: 10px;
  }
}
.rcdown .info a {
  color: black;
  background-color: var(--alt-text-color);
  padding: 10px 12px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-trans-du);
}
.rcdown .info a:hover {
  background-color: var(--main-text-color);
}
@media (max-width: 768px) {
  .rcdown .container .info a {
    margin: 25px auto 180px;
  }
}
.rcdown .img img {
  width: 350px;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .rcdown .container .img img {
    width: 250px;
  }
  .rcdown .container .img {
    margin: 20px -60px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 890px) {
  .rcdown .container .img {
    margin: 20px -12px 0 0;
  }
}

@media (max-width: 768px) {
  .rcdown .container .img img {
    width: 200px;
    margin-top: 0;
  }
}
/* End rc down */
/* Start about */
.about {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
  background-image: url(../imgs/about-cover.avif);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b4a6929e;
  top: 0;
  left: 0;
}
.about .container {
  text-align: center;
}
.about .container p {
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2f2f2f;
}
.about .container h2 {
  position: relative;
  color: #2f2f2f;
  font-family: var(--title-font-fam);
  font-size: 4rem;
  margin-top: 65px;
  font-weight: normal;
}
/* End about */
/* Start Subscribe */
.subscribe {
  padding-top: var(--sec-paddding);
  padding-bottom: var(--sec-paddding);
}
.subscribe .container {
  text-align: center;
}
.subscribe .text h2 {
  font-family: var(--title-font-fam);
  font-weight: normal;
  font-size: 5rem;
}
.subscribe .text p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}
.subscribe form {
  margin-top: 50px;
}
.subscribe form input[type="email"] {
  border: none;
  background-color: var(--sec-back-color);
  padding: 10px 12px;
  border-radius: 30px;
  color: var(--main-text-color);
  caret-color: var(--alt-text-color);
  transition: var(--main-trans-du);
  margin-right: 15px;
}
.subscribe form input[type="email"]:focus {
  outline: none;
  transform: scale(1.1);
}
.subscribe form input[type="submit"] {
  padding: 10px 12px;
  border-radius: 30px;
  border: none;
  background-color: var(--alt-text-color);
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-trans-du);
  margin-left: 10px;
}
.subscribe form input[type="submit"]:hover {
  transform: scale(1.1);
}
/* End Subscribe */
/* Start Footer */
footer {
  padding: 50px 0 15px;
  text-align: center;
  background-color: var(--sec-back-color);
  color: var(--main-text-color);
}
footer h2 {
  font-family: var(--title-font-fam);
  font-weight: normal;
  color: var(--alt-text-color);
  font-size: 2.5rem;
}
footer .contact p {
  margin: 10px;
  text-transform: uppercase;
  font-size: 35px;
}
footer .contact i {
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: var(--main-trans-du);
}
footer .contact i:hover {
  color: var(--alt-text-color);
}
footer > p {
  margin: 40px 0 0;
  text-transform: uppercase;
  font-family: var;
  letter-spacing: 5px;
}
@media (max-width: 767px) {
  footer h2 {
    font-size: 2rem;
  }
  footer .contact p {
    font-size: 25px;
  }
  footer .contact i {
    font-size: 20px;
  }
}
/* End Footer */
